@model PagedList.IPagedList<StoreSites.Models.Product>
@using StoreSites.Models;
@using PagedList.Mvc;
@{
    Layout = null;
}
@Html.Raw(TempData["msg"])
<!DOCTYPE html>
<html>
<head>
    <title>Shop Index</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/Content/styletest.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Bonfire Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!--slider-script-->
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider1").responsiveSlides({
                auto: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
</head>
<body>
    @if (Session["user"] == null)
    {
        <div class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-top-in">
                        <div class="logo">
                            <a href="@Url.Action("Index","Products")"><img src="~/Images/Logo web.png" alt=" "></a>
                        </div>
                        <!--Phần này là phần menu phía trên -->
                        <div class="header-in">
                            <ul class="icon1 sub-icon1">
                                <li>@Html.ActionLink("Đăng nhập", "LoginA", "Login")</li>
                                <li>@Html.ActionLink("Đăng kí", "Register", "Login")</li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div class="h_menu4">
                        <a class="toggleMenu" href="index.html">Menu</a> <!--Nút home của trang chủ-->
                        <!--Thanh navigation của web site-->
                        <ul class="nav">
                            <li class="active"><a href="@Url.Action("Index","Products")"><i></i>Trang chủ</a></li>
                            @using (Entities1 db = new Entities1())
                            {
                                List<SubCategory> listSC1 = db.SubCategories.Where(x => x.categoryID == 1).ToList();
                                List<SubCategory> listSC2 = db.SubCategories.Where(x => x.categoryID == 2).ToList();
                                List<SubCategory> listSC3 = db.SubCategories.Where(x => x.categoryID == 3).ToList();
                                <li>
                                    <div class="dropdown">
                                        <a href="#">Quần áo nam</a>
                                        <ul class="dropdown-content">
                                            @foreach (SubCategory sc in listSC1)
                                            {
                                                <li>@Html.ActionLink("" + sc.subcategoryName, "Cate", "Products", new { id = sc.subcategoryID }, null)</li>
                                            }
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <a href="#">Quần áo nữ</a>
                                        <ul class="dropdown-content">
                                            @foreach (SubCategory sc in listSC2)
                                            {
                                                <li>@Html.ActionLink("" + sc.subcategoryName, "Cate", "Products", new { id = sc.subcategoryID }, null)</li>
                                            }
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <a href="#">Phụ kiện</a>
                                        <ul class="dropdown-content">
                                            @foreach (SubCategory sc in listSC3)
                                            {
                                                <li>@Html.ActionLink("" + sc.subcategoryName, "Cate", "Products", new { id = sc.subcategoryID }, null)</li>
                                            }
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("Contact", "Products")">Liên hệ</a></li>
                            }
                        </ul>
                        <script type="text/javascript" src="js/nav.js"></script>
                    </div>
                </div>
            </div>
            <div class="header-bottom-in">
                <div class="container">
                    <div class="header-bottom-on">
                        <p class="wel" style="color: #ff5757">Xin chào, chào mừng bạn tham gia và sử dụng C&A shop</p>
                        <div class="header-can">

                            <!--Thanh searchbar-->
                            <div class="search">
                                @using (Html.BeginForm("Search", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <input type="text" name="search">
                                    <input type="submit" value="">
                                }
                            </div>

                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Session["user"] != null)
    {
        <div class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-top-in">
                        <div class="logo">
                            <a href="@Url.Action("Index", "Products")"><img src="~/Images/Logo web.png" alt=" "></a>
                        </div>
                        <!--Phần này là phần menu phía trên -->
                        <div class="header-in">
                            <ul class="icon1 sub-icon1">
                                <li>@Html.ActionLink("Đăng xuất", "Logout", "Login")</li>
                                <li>@Html.ActionLink("Hồ sơ", "ViewProfile", "Login")</li>
                                <li>
                                    @{string username = Session["username"].ToString();
                                        using (Entities1 db = new Entities1())
                                        {
                                        <li>@Html.ActionLink("Danh sách đơn hàng", "ListOrder", "CheckoutAndOrder", new { id = db.Users.Where(x => x.username.Equals(username)).FirstOrDefault().userID }, null)</li>
                                        List<ShoppingCart> listCart = db.ShoppingCarts.Where(x => x.userID == db.Users.Where(y => y.username.Equals(username)).FirstOrDefault().userID).ToList();
                                        var totalPrice = 0.0;
                                        <div class="cart">
                                            <a href="@Url.Action("CartList", "Products", new { id = db.Users.Where(x => x.username.Equals(username)).FirstOrDefault().userID })" class="cart-in"> </a>
                                            <span>@listCart.Count</span><!--Dòng này dùng để hiển thị số sản phẩm trong giỏ hàng-->
                                        </div>
                                    }
                                    }
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom">
                    <div class="container">
                        <div class="h_menu4">
                            <a class="toggleMenu" href="index.html">Menu</a> <!--Nút home của trang chủ-->
                            <!--Thanh navigation của web site-->
                            <ul class="nav">
                                <li class="active"><a href="@Url.Action("Index","Products")"><i></i>Trang chủ</a></li>
                                @using (Entities1 db = new Entities1())
                                {
                                    List<SubCategory> listSC1 = db.SubCategories.Where(x => x.categoryID == 1).ToList();
                                    List<SubCategory> listSC2 = db.SubCategories.Where(x => x.categoryID == 2).ToList();
                                    List<SubCategory> listSC3 = db.SubCategories.Where(x => x.categoryID == 3).ToList();
                                    <li>
                                        <div class="dropdown">
                                            <a href="#">Quần áo nam</a>
                                            <ul class="dropdown-content">
                                                @foreach (SubCategory sc in listSC1)
                                                {
                                                    <li>@Html.ActionLink("" + sc.subcategoryName, "Cate", "Products", new { id = sc.subcategoryID }, null)</li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <a href="#">Quần áo nữ</a>
                                            <ul class="dropdown-content">
                                                @foreach (SubCategory sc in listSC2)
                                                {
                                                    <li>@Html.ActionLink("" + sc.subcategoryName, "Cate", "Products", new { id = sc.subcategoryID }, null)</li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <a href="#">Phụ kiện</a>
                                            <ul class="dropdown-content">
                                                @foreach (SubCategory sc in listSC3)
                                                {
                                                    <li>@Html.ActionLink("" + sc.subcategoryName, "Cate", "Products", new { id = sc.subcategoryID }, null)</li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="@Url.Action("Contact", "Products")">Liên hệ</a></li>
                                }
                            </ul>
                            <script type="text/javascript" src="js/nav.js"></script>
                        </div>

                    </div>
                </div>
                <div class="header-bottom-in">
                    <div class="container">
                        <div class="header-bottom-on">
                            <p class="wel" style="color: #ff5757">Xin chào, chào mừng bạn tham gia và sử dụng C&A shop</p>
                            <div class="header-can">

                                <!--Thanh searchbar-->
                                <div class="search">
                                    @using (Html.BeginForm("Search", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <input type="text" name="search">
                                        <input type="submit" value="">
                                    }
                                </div>

                                <div class="clearfix"> </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </div>
        }

    <div class="banner-mat">
        <div class="container">
            <div class="banner">

                <!-- Slideshow 4 -->
                <div class="slider">
                    <ul class="rslides" id="slider1">
                        <li>
                            <img src="~/Images/banner.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/Images/banner1.jpg" alt="">
                        </li>

                        <li>
                            <img src="~/Images/banner2.jpg" alt="">
                        </li>
                    </ul>
                </div>

                <div class="banner-bottom">
                    <div class="banner-matter">

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //slider-->
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="content-top">
                <h3 class="future">Sản phẩm của cửa hàng</h3>
                <div class="content-top-in row">
                    @foreach (var item in Model)
                    {
                        <div class="FieldProduct">
                            <div class="col-md">
                                <a href="@Url.Action("Details", "Products", new { id = item.productID })"><img src="@Url.Content("~/Images/" + item.productIcon)" alt="@item.productIcon" /></a> <!--Ảnh của sản phẩm-->
                                <div class="top-content">
                                    <h5><a href="@Url.Action("Details", "Products", new { id = item.productID })">@item.productName</a></h5> <!--Tiêu đề của sản phẩm-->
                                    <div class="Space_AddToCart_Cost">
                                        <p class="product-cost">@item.exportPrice (VND)</p>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-middle">
            <div class="container">

                <div class="footer-middle-in" style="width:33%">
                    <h6>Mua hàng</h6>
                    <ul>
                        <li><a href="https://localhost:44388/Products/Cate/0">Đồ Nam</a></li>
                        <li><a href="https://localhost:44388/Products/Cate/2">Đồ Nữ</a></li>
                        <li><a href="https://localhost:44388/Products/Cate/4">Phụ Kiện Thể Thao</a></li>
                    </ul>
                </div>
                <div class="footer-middle-in" style="width:33%">
                    <h6>Dịch vụ khách hàng</h6>
                    <ul>
                        <li><a href="@Url.Action("Contact", "Products")">Liên hệ với chúng tôi</a></li>

                    </ul>
                </div>


                <div class="clearfix"></div>
            </div>
        </div>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v6.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="102551117905060"
         theme_color="#fa3c4c">
    </div>
</body>

</html>
